
// Mixins and Modules
@mixin bg($color) {
  background-image: image-url('textured-paper.png');
  background-color: $color;
}

%white-text {
  &,h1,h2,h3,h4,h5,p { color: $white; }
}

%pad {
  .row { padding-bottom: emCalc(20px); }
}

.portrait {
  @include border-radius(1000px);
  height: 140px;
  width: 140px;
  @media #{$small} {
    width: 160px;
    height: 160px;
  }
  @media #{$medium} {
    width: 200px;
    height: 200px;
  }
}

@mixin portrait($image-url) {
  position: relative;
  > a {
    @extend .portrait;
    @include background-size(cover);
    cursor: default;
    margin: 0 auto;
    display: block;
    background-image: image-url("people/#{$image-url}");

    .overlay {
      @extend .portrait;
      @include transition-property(opacity);
      @include transition-duration(.3s);
      background: rgba(228, 45, 76,.8);
      color: $white;
      font-weight: 600;
      opacity: 0;
      margin: 0 auto;
      position: absolute;
      padding-top: emCalc(40px);
      padding-right: emCalc(20px);
      padding-bottom: emCalc(20px);
      padding-left: emCalc(20px);
      .text {
        @include transition-property(all);
        @include transition-duration(.4s);
        margin-top: emCalc(-10px);
        opacity: 0
      }
      &:hover {
        opacity: 1;
        .text {
          margin-top: 0;
          opacity: 1;
        }
      }
    }
  }
  > h2 {
    margin-bottom: 0;
  }
}

// CSS Stuffs

* {
  -webkit-font-smoothing: antialiased;
}

body {
  @include bg($white);
  @include text-shadow(0 1px 0 rgba(0,0,0,0.4));
  overflow-x: hidden;
  width: 100%;
}

a {
  @include transition-property(all);
  @include transition-duration(.2s);

  &.collapse,
  .collapse {
    font-size: .74em;
    @media #{$small} { font-size: 1em; }
  }
}

.header {
  @extend %pad;
  @include background-size(cover);
  @extend %white-text;
  background-image: image-url('header-bg.png');
  background-position: center 80%;

  .wrap { @include bg(none); }
  
  a {
    color: $light-green;
  }

  p { font-weight: 600; }

  h1 {
    @include background-size(contain);
    display: block;
    height: 270px;
    background-image: image-url('header-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    font-size: emCalc(64px);
    text-indent: -1000%;
    margin-top: emCalc(10px);
    margin-bottom: emCalc(10px);
  }

  h2 { color: $white; }

  li {
    a {
      @include transition-property(all);
      @include transition-duration(.2s);
    }

    &:hover a {
      color: lighten($light-green, 20%);
      opacity: 1;
    }
  }
}

.icon-twitter,
.icon-leaf,
.icon-ruby {
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  margin-bottom: 6px;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  opacity: .5;
  @media #{$small} {
    @include inline-block;
    font-size: 1em;
    margin: 0;
  }
}

.icon-twitter:before { content: "\e000"; }
.icon-leaf:before { content: "\e001"; }
.icon-ruby:before { content: "\e002"; }

#where,
#music,
#speakers { padding-top: 20px; margin-top: -20px; }

.where {
  @include bg($white);
  @extend %pad;

  .vcard {
    text-align: left;
    border: none;

    .action { margin-top: emCalc(12px); }
  }

  .map {
    @include box-shadow(0 2px 3px rgba(0,0,0, .26));
    border: 5px solid $white;
  }
}

.f-stokes         { @include portrait("f-stokes.jpg"); }
.dj-radish        { @include portrait("dj-radish.jpg"); }
.uncle-bob-martin { @include portrait("uncle-bob-martin.jpg"); }
.randall-thomas   { @include portrait("randall-thomas.jpg"); }
.ashe-dryden      { @include portrait("ashe-dryden.jpg"); }
.shane-becker     { @include portrait("shane-becker.png"); }
.gregg-baugues    { @include portrait("gregg-baugues.jpg"); }
.blithe-rocher    { @include portrait("blithe-rocher.jpg"); }

.musical-guests {
  @extend %pad;
  @include bg($black);
  @extend %white-text;
}

.speakers {
  @extend %pad;
  @include bg($white);
}

.footer {
  @extend %white-text;
  @include bg($green);
  padding-top: 1em;
}
