* {
  -webkit-font-smoothing: antialiased;
}

body {
  background-image: image-url('textured-paper.png');
  @include text-shadow(0 1px 0 rgba(0,0,0,0.2));
}

.portrait {
  @include border-radius(1000px);
  height: 300px;
  width: 300px;
}

.header { 
  background-color: $green;
  background-image: image-url('textured-paper.png');
  color: $white;
  font-weight: 700;
  h1 {
    @include background-size(contain);
    display: block;
    height: 270px;
    background-image: image-url('header-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    font-size: emCalc(64px);
    text-indent: -1000%;
    margin-top: emCalc(10px);
    margin-bottom: emCalc(10px);
  }
}

.musical-guests {
}

.speakers {
  background-color: $blue;
  h1, h2, p { color: $white; }
}

.extra {
  
}
