@mixin bg($color) {
  background-image: image-url('textured-paper.png');
  background-color: $color;
}

@mixin white-text {
  h1,h2,h3,h4,h5,p { color: $white; }
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  @include bg($white);
  @include text-shadow(0 1px 0 rgba(0,0,0,0.2));
}

.portrait {
  @include border-radius(1000px);
  height: 250px;
  width: 250px;
}

@mixin portrait($image-url) {
  a {
    @extend .portrait;
    @include background-size(cover);
    margin: 0 auto;
    display: block;
    background-image: image-url($image-url);
  }
}

.uncle-bob-martin { @include portrait("people/uncle-bob-martin.jpg"); }
.randall-thomas   { @include portrait("people/randall-thomas.jpg"); }

.header { 
  @include bg($green);
  @include white-text;
  font-weight: 700;
  padding-bottom: emCalc(20px);
  h1 {
    @include background-size(contain);
    display: block;
    height: 270px;
    background-image: image-url('header-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    font-size: emCalc(64px);
    text-indent: -1000%;
    margin-top: emCalc(10px);
    margin-bottom: emCalc(10px);
  }
  h2 { color: $white; }
}


.extra {
  @include bg($white);
  .vcard { border: none; }
}

.musical-guests {
  @include bg($black);
  @include white-text;
}

.speakers {
  @include bg($white);
}

