$small-up: "only screen and (min-width: #{$small-screen}) and (max-width: 986px)";

// Mixins and Modules
@mixin bg($color) {
  // background-image: image-url('textured-paper.png');
  background-color: $color;
}

%white-text {
  &,h1,h2,h3,h4,h5,p { color: $white; }
}

@mixin section-pad {
  .row {
    padding-bottom: emCalc(60px);
    padding-top: emCalc(60px);
    &.short-top {
      padding-top: 0;
    }
  }
}

%section-pad {
  @include section-pad;
}

.portrait {
  // @include border-radius(1000px);
  height: 140px;
  width: 140px;
  @media #{$small} {
    width: 160px;
    height: 160px;
  }
  @media #{$medium} {
    width: 200px;
    height: 200px;
  }
}

%boss-portrait {
  height: 240px;
  width: 240px;
  @media #{$small} {
    width: 260px;
    height: 260px;
  }
  @media #{$medium} {
    width: 300px;
    height: 300px;
  }
}

@keyframes shake-side{
  0% { transform: translate(0, 0); }
  40% { transform: translate(6px, 0); }
  70% { transform:  translate(0, 0); }
  90% { transform:  translate(-6px, 0); }
  100% { transform: translate(0, 0); }
}

@-moz-keyframes shake-side{
  0% { -moz-transform: translate(0, 0); }
  40% { -moz-transform: translate(6px, 0); }
  70% { -moz-transform:  translate(0, 0); }
  90% { -moz-transform:  translate(-6px, 0); }
  100% { -moz-transform: translate(0, 0); }
}

@-webkit-keyframes shake-side {
  0% { -webkit-transform: translate(0, 0); }
  40% { -webkit-transform: translate(6px, 0); }
  70% { -webkit-transform:  translate(0, 0); }
  90% { -webkit-transform:  translate(-6px, 0); }
  100% { -webkit-transform: translate(0, 0); }
}

.shake-side {
  animation-name: shake-side;
  animation-duration: 170ms;
  animation-iteration-count: 2;
  animation-timing-function: linear;

  -moz-animation-name: shake-side;
  -moz-animation-duration: 170ms;
  -moz-animation-iteration-count: 2;
  -moz-animation-timing-function: linear;

  -webkit-animation-name: shake-side;
  -webkit-animation-duration: 170ms;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}

@keyframes shake{
  0% { transform: translate(0, 0) rotate(6deg); }
  40% { transform: translate(0, 6px) rotate(0deg); }
  70% { transform:  translate(0, 0) rotate(-6deg); }
  90% { transform:  translate(0, -6px) rotate(-3deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@-moz-keyframes shake{
  0% { -moz-transform: translate(0, 0) rotate(6deg); }
  40% { -moz-transform: translate(0, 6px) rotate(0deg); }
  70% { -moz-transform:  translate(0, 0) rotate(-6deg); }
  90% { -moz-transform:  translate(0, -6px) rotate(-3deg); }
  100% { -moz-transform: translate(0, 0) rotate(0deg); }
}

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(0, 0) rotate(6deg); }
  40% { -webkit-transform: translate(0, 6px) rotate(0deg); }
  70% { -webkit-transform:  translate(0, 0) rotate(-6deg); }
  90% { -webkit-transform:  translate(0, -6px) rotate(-3deg); }
  100% { -webkit-transform: translate(0, 0) rotate(0deg); }
}

.shake {
  animation-name: shake;
  animation-duration: 200ms;
  animation-iteration-count: 2;
  animation-timing-function: linear;

  -moz-animation-name: shake;
  -moz-animation-duration: 200ms;
  -moz-animation-iteration-count: 2;
  -moz-animation-timing-function: linear;

  -webkit-animation-name: shake;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}

@mixin portrait($image-url) {
  position: relative;
  &.boss {
    > .hover {
      &:hover { @extend .shake-side; }
      @extend %boss-portrait;
      background-image: image-url("locked.svg") !important;
      .overlay {
        @extend %boss-portrait;
        .text {
          margin-top: emCalc(-10px) !important;
          @media #{$medium} { margin-top: emCalc(20px) !important; }
        }

        &:hover .text {
          @extend .shake;
          position: relative;
          z-index: 1000;
        }
      }
    }
    .button {
      @extend .radius;
    }
    h2 {
      // @include text-shadow(0 1px 0 rgba($black,0.1));
      font-size: emCalc(46);
      margin-bottom: emCalc(2);
    }
    h3 { color: $white; }
  }

  > .links {
    @extend ul.no-bullet;
    margin-left: 0;
  }

  > .hover {
    @extend .portrait;
    @include background-size(cover);
    background-image: image-url("#{$image-url}");
    cursor: default;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 10;

    .overlay {
      @extend .portrait;
      @include transition-property(opacity);
      @include transition-duration(0.3s);
      background: rgba($blue,.8);
      color: $white;
      display: table;
      font-weight: 600;
      margin: 0 auto;
      opacity: 0;
      padding: 0;
      position: absolute;
      .text {
        @include transition-property(all);
        @include transition-duration(0.4s);
        display: table-cell;
        height: 100%;
        opacity: 0;
        position: relative;
        padding-bottom: 100%;
        vertical-align: middle;
      }
      &:hover {
        opacity: 1;
        .text {
          opacity: 1;
          padding-bottom: 0%;
        }
      }
    }
  }
  > h2 {
    margin-bottom: 0;
  }
}

// CSS Stuffs

* {
  -webkit-font-smoothing: antialiased;
}

body {
  @include bg($black);
  // @include text-shadow(0 1px 0 rgba($black,0.4));
  font-size: 1rem;
  overflow-x: hidden;
  width: 100%;

  &.fixered { padding-top: 65px; }
}

a {
  @include transition(all 0.3s ease);
  color: $linky-color;

  &:hover { color: $blue; }

  &.collapse,
  .collapse {
    font-size: .74em;
    @media #{$small} { font-size: 1em; }
  }
}

.header {

  @include bg($black);
  @include background-size(cover);
  @extend %white-text;
  background-image: image-url('djboom.jpg');
  padding-bottom: 40px;
  padding-top: 80px;
  background-position: center 80%;
  margin-top: -80px;
  bottom: 0;
  position: relative;

  &:after {
    background: rgba($black, .6);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  .wrap {
    @include bg(none);
    position: relative;
    z-index: 2;
  }

  // p { font-weight: 500; }

  h1 {
    @include background-size(contain);
    display: block;
    height: 270px;
    background-image: image-url('header-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    font-size: emCalc(64px);
    text-indent: -1000%;
    margin-top: emCalc(10px);
    margin-bottom: emCalc(10px);
  }

  h2 { color: $white; }

  li {
    a {
      @include transition-property(all);
      @include transition-duration(0.2s);
    }
  }
}

.icon-twitter,
.icon-leaf,
.icon-ruby,
.icon-link {
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  margin-bottom: 6px;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  @media #{$small} {
    font-size: 2em;
    margin-bottom: 12px;
  }
}

.icon-twitter:before { content: "\e000"; }
.icon-leaf:before { content: "\e001"; }
.icon-ruby:before { content: "\e002"; }
.icon-link:before { content: "\e003"; }

#where,
#music,
#sponsors,
#speakers { padding-top: 20px; margin-top: -20px; }

#where-map {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 120%;
}

.where {
  @include bg($white);
  @extend %section-pad;
  position: relative;
  overflow: hidden;

  h2 {
    // text-transform: uppercase;
    font-weight: 300;

    .line {
      line-height: 1;

      &.one { font-size: emCalc(16px); }

      &.two {
        color: rgba($black, .4);
        font-weight: 400;
        font-size: 0;
        letter-spacing: 4px;
        line-height: 1;
        margin: 20px auto 10px;
        width: 60px;
        height: 4px;
        background: $blue;
        position: relative;
      }

      &.three {
        font-size: emCalc(32px);
      }
    }
  }

  .vcard {
    text-align: left;
    border: none;

    .action { margin-top: emCalc(12px); }
  }

  .map {
    @include box-shadow(0 2px 3px rgba($black, .26));
    border: 2px solid $white;
  }
}

//
.locked { @include portrait("locked.svg"); }

.musical-guests {
  @extend %section-pad;
  @include bg($black);
  @extend %white-text;
}

.sponsors {
  @extend %section-pad;
  @include bg($white);
}

.speakers {
  @extend %section-pad;
  @include bg($black);
  @extend %white-text;
}

.footer {
  // @extend %white-text;
  @include bg($white);
  padding-top: 1em;
}

.guest-list {
  h2 { font-size: 1.65em; }
  .text { font-size: .75em; }

}

// .name-of-speaker         { @include portrait("people/name-of-speaker.jpg"); }

ul.sponsor-list {
  @extend .no-bullet;
  margin-top: 2em;
  margin-bottom: 0;
  li {
    @include inline-block;
    margin-right: $column-gutter;
    margin-bottom: 1.5em;
    img {
      max-height: 100px;
    }
  }
}

ul.list {
  @extend .no-bullet;
  margin-left: 0;
  li:first-child {
    margin-top: 2px;
    margin-bottom: 4px;
    a {
      border-top: 1px solid rgba($black,.2);
      border-bottom: 1px solid rgba($black,.2);
      padding-right: 10px;
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 10px;
    }
  }
}

.line-through {
  text-decoration: line-through;
}

button, .button {
  @include transition(all 0.3s ease);
  font-weight: 600;
  margin-bottom: -10px;
  &:hover {
    background: $blue !important;
    border-color: $blue;
  }

  @media #{$small-up} {
    margin-bottom: 1.75em;
  }
  @media #{$medium} {
    margin-bottom: .65em;
  }
}

@mixin top-bar-thing {
  .top-bar {
    z-index: 100;
    li.has-form .button {
      top: 0;
      padding-top: 12px;
      padding-bottom: 14px;
      line-height: 1;
    }
  }
}

.top-bar {
  z-index: 300;
  .top-bar-section {
    @include transition(opacity 0.2s ease-out 0.3s);
    opacity: 0;
  }
  &.expanded .top-bar-section { opacity: 1; }

}

.top-bar .toggle-topbar.menu-icon a {
  text-indent: -58px;
}


.sticky {
  padding-top: 20px;

  &.fixed {
    &:before {
      background-color: rgba($cream, .95);
      height: 88px;
    }

    .top-bar { @include transition(opacity 0.2s ease); }
    .top-bar.expanded .title-area { background: transparent; }
    .top-bar .toggle-topbar.menu-icon a {
      color: $black;
      span {
        @include box-shadow(0 10px 0 1px $black,
                            0 16px 0 1px $black,
                            0 22px 0 1px $black);
      }
    }

    ul > li,
    ul > li a { color: $black; }

    .top-bar.expanded .top-bar-section {
      ul {
        margin-top: 23px;
        background-color: rgba($cream, .95) !important;
      }
    }

    .top-bar-section {
      ul { background-color: rgba($cream, .95); }
      ul > li button,
      ul > li .button {
        color: $black;
        border-color: $black;
      }
    }
  }

  &:before {
    @include transition(height 0.3s ease);
    background-color: $red;
    position: absolute;
    content: '';
    display: block;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 6px;
    z-index: 100;
  }

  .top-bar { background-color: transparent !important; }
  .top-bar-section {
    ul { background-color: transparent !important; }

    li,
    li a { background-color: transparent !important; }

    ul > li a {
      border-bottom: 2px solid transparent;
      font-weight: 600;
      &:hover { border-bottom: 2px solid $red; }
    }

    ul > li button,
    ul > li .button {
      @include border-radius(0);
      @include inline-block;
      background-color: transparent !important;
      border: 2px solid $white;
      color: $white;
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
      &:hover {
        background-color: $red !important;
        border-color: $red !important;
        color: $white;
      }
    }
  }

}

@media #{$small} {
  @include top-bar-thing;

  .top-bar .top-bar-section { opacity: 1; }
  .top-bar-section {
    margin-top: 0;
    ul,
    li,
    li a,
    &.fixed ul { background-color: transparent !important; }
  }

  body {
    font-size: 1.6rem;
  }

  .header { @include section-pad; }

}

@media #{$small-up} {
  body {
    font-size: 1rem;
  }
  .sticky .top-bar-section {
    ul > li button,
    ul > li .button {
      top: 4px;
      padding-bottom: 12px;
    }
  }
}

@media screen and (max-height: 760px) {
  .header h1 {
    height: 200px;
  }
}
