$white       : #f9f4f2;
$black       : #0f0f13;

$red         : #f75c50;
$light-red   : #fb7064;
$purple      : #a15e95;
$light-green : #c7e358;
$green       : #bfd729;
$blue        : #7dccad;
$cream       : #f9f4f2;
$dark-cream  : #e0d9cf;


$linky-color : $light-red;
