$white       : #f9f4f2;
$black       : #0f0f13;

$red         : #c6461d;
$light-red   : #e57854;
$purple      : #a15e95;
$light-green : #c7e358;
$green       : #bfd729;
$blue        : #7dccad;

$linky-color : $light-red;
