// Lato
// Hairline     100
// Thin         200
// !! Light     300
// Regular      400
// !! Medium    500
// !! Semibold  600
// Bold         700
// !! Heavy     800
// !! Black     900



@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot');
  src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
