- content_for :head do
  %title #HYPEHARVEST



.header
  .row
    .content
      %h1 Header

.set-list
  .row
    .content
      %h1 Set List
      - 5.times do
        .row
          .small-12.large-6.columns
            =portrait
            Test (left)
        .row
          .small-12.large-6.push-6.columns
            =portrait
            Test (right)


.extra
  .row
    .content
      %h1 Extra