- content_for :head do
  %title #HYPEHARVEST

.sticky
  .top-bar
    %ul.title-area
      %li.name
        %h1
          %a(href="#") #HYPEHARVEST
      %li.toggle-topbar.menu-icon
        %a(href="#!")
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a(href="#where") When & Where
        %li
          %a(href="#sponsors") Sponsors
        %li
          %a(href="#speakers") Speakers
        %li.has-form
          %a.button.radius(href="https://ti.to/sapling/hypeharvest")
            Donate
.header
  .wrap
    .row
      .content-centered
        %h1 #HYPEHARVEST
        %h3 Educate, Empower, Employ
        %p
          Come join us for a night of food, drink, music, and an amazing list of guest speakers. <a href="http://ywcamadison.org">YWCA Madison</a> and <a href="http://adorable.io">Adorable</a> have come together to create <a href="http://ywebca.org">YWeb Career Academy</a>, a 400 hour education program to teach computer coding to young women and people of color who are underrepresented in the technology field. With your help we’ll empower these bright minds to challenge themselves to improve their lives and the Madison community.

    .row.short-top
      .content-centered
        %ul.small-block-grid-3
          %li
            %a(href="http://www.madisonpl.us/ruby")
              %i.icon-ruby
              %span.collapse Madison+ Ruby Conference
          %li
            %a(href="http://www.saplingevents.com/")
              %i.icon-leaf
              %span.collapse Sapling Events
          %li
            %a(href="https://twitter.com/search?q=%23HYPEHARVEST%20OR%20%23whatishypeharvest&src=typd")
              %i.icon-twitter
              %span.collapse #HYPEHARVEST on Twitter
#where
.where
  #where-map
  .row
    .content-centered
      %h1 When & Where
      %h2
        .line.one Thursday, August 20
        .line.two from
        .line.three 7-11 PM
      .row
        .content-centered
          %p Community Terrace<br />Monona Terrace Convention Center
          %a.button(href="https://www.google.com/maps/place/Monona+Terrace+Community+and+Convention+Center/@43.070009,-89.3826,17z/data=!3m1!4b1!4m2!3m1!1s0x8806533e69d92151:0xec3bcab772dbe6dd") Get Directions

#sponsors
.sponsors
  .row
    .content-centered
      %h5 #HYPEHARVEST made possible by
      %ul.sponsor-list
        %li
          %a(href="http://healthfinch.com/")
            %img(src="images/people/healthfinch_400.png")

#speakers
.speakers
  .row
    .content-centered
      %h1 Speakers
      .row
        .content-centered
          %p Our speakers will share life experiences, technical stories, and/or tales of success & failure.
      %ul.small-block-grid-2.large-block-grid-3.guest-list

        %li.brandi-grayson
          %a.hover
            .overlay
              .text
                YWCA Director of Employment Services
          %h2 Brandi Grayson

.footer
  .row
    .content-centered
      %p This is an <a href="http://adorable.io/">adorable</a> creation... Seriously.
