- content_for :head do
  %title #HYPEBRR

.sticky
  .top-bar
    %ul.title-area
      %li.name
        %h1
          %a(href="/") #HYPEBRR
      %li.toggle-topbar.menu-icon
        %a(href="#!")
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a(href="#where") When & Where
        %li
          %a(href="#music") Musical Guests
        %li
          %a(href="#speakers") Speakers
        %li.has-form
          %a.button.radius(href="https://ti.to/sapling/hypebrr")
            Register
.header
  .wrap
    .row
      .content-centered
        %h1 #HYPEBRR
        %h3 Educate, Empower, & Employ
        %p

          Come join us for a night of food, cocktails, music, games and an amazing list of guest speakers. <a href="http://www.ywcamadison.org">YWCA of Madison</a> and <a href="http://adorable.io">Adorable</a> have come together to create <a href="http://ywebca.org">YWeb Career Academy</a>, a 400 hour education program to teach web development skills targeting young women and people of color who are underrepresented in the technology field. With your help we’ll empower these bright young minds to challenge themselves to improve their lives and the Madison community.

    .row.short-top
      .content-centered
        %ul.small-block-grid-3
          %li
            %a(href="http://www.ywebca.org")
              %i.icon-ruby
              %span.collapse YWebCA
          %li
            %a(href="http://www.adorable.io/")
              %i.icon-leaf
              %span.collapse Adorable
          %li
            %a(href="https://twitter.com/search?q=%23HYPEBRR%20OR%20%23whatishypebrr&src=typd")
              %i.icon-twitter
              %span.collapse #HYPEBRR on Twitter
#where
.where
  #where-map
  .row
    .content-centered
      %h1 When & Where
      %h2
        .line.one Friday, February 20
        .line.two from
        .line.three 6:30 - 11 pm
      .row
        .content-centered
          %p Tripp Commons<br />UW Memorial Union
          %a.button(href="https://www.google.com/maps/place/Memorial+Union/@43.076251,-89.399754,17z/data=!3m1!4b1!4m2!3m1!1s0x8807accaa0165ae1:0x4001e911ad143b35") Get Directions

#sponsors
-# .sponsors
  .row
    .content-centered
      %h5 #HYPEBRR made possible by
      %ul.sponsor-list
        %li
          %a(href="http://www.adorab")
            %img(src="images/people/mobcraft.png")

#music
.musical-guests
  .row
    .content-centered
      %h1 Musical Guests

      %ul.small-block-grid-1
        %li.locked
          %a.hover
            .overlay
              .text
                Funk Punk Rock Trio
          %h2 The Hook Up

#speakers
.speakers
  .row
    .content-centered
      %h1 Speakers
      %ul.small-block-grid-2.large-block-grid-3.guest-list

        %li.locked
          %a.hover
            .overlay
              .text YWebCA Program Manager
          %h2 Tonia Brock

        %li.locked
          %a.hover
            .overlay
              .text
                Artist, Designer, &
                <br />
                Jack-of-all-trades
          %h2 Kelly Rauwerdink

        %li.locked
          %a.francisco-valdes-jasso
            .overlay
              .text
                YWebCA Student
          %h2
            Francisco
            <br />
            Valdes-Jasso

        %li.locked
          %a.hover
            .overlay
              .text
                YWebCA Student
          %h2 Erica Naughton

        %li.locked
          %a.hover
            .overlay
              .text CEO of YWCA Madison
          %h2 Rachel Krinsky

        %li.locked
          %a.hover
            .overlay
              .text
                Alderman &
                <br />
                Candidate for Mayor
          %h2 Scott Resnick

.footer
  .row
    .content-centered
      %p This is an <a href="http://adorable.io/">adorable</a> creation... Seriously.
