- content_for :head do
  %title #HYPEHARVEST

.sticky
  .top-bar
    %ul.title-area
      %li.name
        %h1
          %a(href="#") #HYPEHARVEST
      %li.toggle-topbar.menu-icon
        %a(href="#!")
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a(href="#where") When & Where
        %li
          %a(href="#music") Musical Guests
        %li
          %a(href="#speakers") Speakers
        %li.has-form
          %a.button.radius(href="http://igg.me/at/hh14/")
            Donate
.header
  .wrap
    .row
      .content-centered
        %h1 #HYPEHARVEST
        %p
          <a href="http://madisonpl.us/ruby">Madison+ Ruby</a> has grown a reputation for being <a href="https://twitter.com/search?q=madisonruby">one of the best regional conferences around</a> and as such people just want to be involved. We've built a great event and are now harvesting some of the hype that surrounds it. In usual <a href="http://saplingevents.com/">Sapling Events</a> style it's ... well, you'll see.

    .row.short-top
      .content-centered
        %ul.small-block-grid-3
          %li
            %a(href="http://www.madisonpl.us/ruby")
              %i.icon-ruby
              %span.collapse Madison+ Ruby Conference
          %li
            %a(href="http://www.saplingevents.com/")
              %i.icon-leaf
              %span.collapse Sapling Events
          %li
            %a(href="https://twitter.com/search?q=%23HYPEHARVEST%20OR%20%23whatishypeharvest&src=typd")
              %i.icon-twitter
              %span.collapse #HYPEHARVEST on Twitter
#where
.where
  #where-map
  .row
    .content-centered
      %h1 When & Where
      %h2
        .line.one Thursday, August 21
        .line.two from
        .line.three 7-11 PM
      .row
        .content-centered
          %p Rooftop Sculpture Garden<br />Madison Museum of Contemporary Art
          %a.button(href="https://www.google.com/maps/dir//Madison+Museum+of+Contemporary+Art,+227+State+St,+Madison,+WI+53703/@43.074595,-89.389325,17z/data=!4m12!1m3!3m2!1s0x0:0x93f6283ea28831bb!2sMadison+Museum+of+Contemporary+Art!4m7!1m0!1m5!1m1!1s0x880653378c412599:0x93f6283ea28831bb!2m2!1d-89.389325!2d43.074595") Get Directions

#sponsors
.sponsors
  .row
    .content-centered
      %h5 #HYPEHARVEST made possible by
      %a(href="http://www.wellbe.me/")
        %img(src="images/people/wellbe.png")

#music
.musical-guests
  .row
    .content-centered
      %h1 Musical Guests
      .row
        .content-centered
          %p Musical guests are awesome. We've got em!

      %ul.small-block-grid-2.guest-list
        %li.chants-sound
          %a.hover
            .overlay
              .text
                Beats & bass with melody & atmosphere
          %h2 Chants Sound
        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

#speakers
.speakers
  .row
    .content-centered
      %h1 Speakers
      .row
        .content-centered
          %p The speakers involved are well known and come from near and far. They'll share life experiences, technical stories, and/or tales of success & failure.
          %p Dying to know who's going to be speaking? We'll announce a speaker after we raise $750 for the YWCA's YWeb Career Academy and another for each $250 thereafter.
      %ul.small-block-grid-2.large-block-grid-3.guest-list

        %li.jen-myers
          %a.hover
            .overlay
              .text
                Designer/Dev & Instructor
          %h2 Jen Myers

        %li.steve-klabnik
          %a.hover
            .overlay
              .text
                Author, Nomad
          %h2 Steve Klabnik

        %li.kim-mik
          %a.hover
            .overlay
              .text
                A startlingly sane crazy-person turned developer.
          %h2 Kim Mik

        %li.teri-barr
          %a.hover
            .overlay
              .text Anchor, Writer, Host
          %h2 Teri Barr

        %li.locked
          %a.hover
            .overlay
              .text Locked
          %h2 Locked

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

.footer
  .row
    .content-centered
      %p This is an <a href="http://adorable.io/">adorable</a> creation... Seriously.
