- content_for :head do
  %title #HYPEHARVEST

.sticky
  .top-bar
    %ul.title-area
      %li.name
        %h1
          %a(href="#") #HYPEHARVEST
      %li.toggle-topbar.menu-icon
        %a(href="#!")
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a(href="#where") When & Where
        %li
          %a(href="#sponsors") Sponsors
        %li
          %a(href="#music") Musical Guests
        %li
          %a(href="#speakers") Speakers
        %li.has-form
          %a.button.radius(href="http://igg.me/at/hh14/")
            Donate
.header
  .wrap
    .row
      .content-centered
        %h1 #HYPEHARVEST
        %p
          <a href="http://madisonpl.us/ruby">Madison+ Ruby</a> has grown a reputation for being <a href="https://twitter.com/search?q=madisonruby">one of the best regional conferences around</a> and as such people just want to be involved. We've built a great event and are now harvesting some of the hype that surrounds it. In usual <a href="http://saplingevents.com/">Sapling Events</a> style it's ... well, you'll see.

    .row.short-top
      .content-centered
        %ul.small-block-grid-3
          %li
            %a(href="http://www.madisonpl.us/ruby")
              %i.icon-ruby
              %span.collapse Madison+ Ruby Conference
          %li
            %a(href="http://www.saplingevents.com/")
              %i.icon-leaf
              %span.collapse Sapling Events
          %li
            %a(href="https://twitter.com/search?q=%23HYPEHARVEST%20OR%20%23whatishypeharvest&src=typd")
              %i.icon-twitter
              %span.collapse #HYPEHARVEST on Twitter
#where
.where
  #where-map
  .row
    .content-centered
      %h1 When & Where
      %h2
        .line.one Thursday, August 21
        .line.two from
        .line.three 7-11 PM
      .row
        .content-centered
          %p Rooftop Sculpture Garden<br />Madison Museum of Contemporary Art
          %a.button(href="https://www.google.com/maps/dir//Madison+Museum+of+Contemporary+Art,+227+State+St,+Madison,+WI+53703/@43.074595,-89.389325,17z/data=!4m12!1m3!3m2!1s0x0:0x93f6283ea28831bb!2sMadison+Museum+of+Contemporary+Art!4m7!1m0!1m5!1m1!1s0x880653378c412599:0x93f6283ea28831bb!2m2!1d-89.389325!2d43.074595") Get Directions

#sponsors
.sponsors
  .row
    .content-centered
      %h5 #HYPEHARVEST made possible by
      %ul.sponsor-list
        %li
          %a(href="http://www.wellbe.me/")
            %img(src="images/people/wellbe.png")

        %li
          %a(href="http://www.yourmixentertainment.com")
            %img(src="images/people/yourmix.png")

        %li
          %a(href="http://mobcraftbeer.com/")
            %img(src="images/people/mobcraft.png")

#music
.musical-guests
  .row
    .content-centered
      %h1 Musical Guests
      .row
        .content-centered
          %p Musical guests are awesome. We've got em!

      %ul.small-block-grid-2.guest-list
        %li.madison-music
          %a.hover
            .overlay
              .text
                17 piece ensemble mixing classical and electronic
          %h2 Madison Music Makers
        %li.chants-sound
          %a.hover
            .overlay
              .text
                Beats & bass with melody & atmosphere
          %h2 Chants Sound

#speakers
.speakers
  .row
    .content-centered
      %h1 Speakers
      .row
        .content-centered
          %p Our speakers will share life experiences, technical stories, and/or tales of success & failure.
      %ul.small-block-grid-2.large-block-grid-3.guest-list

        %li.jen-myers
          %a.hover
            .overlay
              .text
                Designer/Dev & Instructor
          %h2 Jen Myers

        %li.tonia-brock
          %a.hover
            .overlay
              .text
                YWebCA Program Manager
          %h2 Tonia Brock

        %li.steve-klabnik
          %a.hover
            .overlay
              .text
                Author, Nomad
          %h2 Steve Klabnik

        %li.kim-mik
          %a.hover
            .overlay
              .text
                A startlingly sane crazy-person turned developer.
          %h2 Kim Mik

        %li.pacal-bayley
          %a.hover
            .overlay
              .text
                DJ, produced for Young Jeezy, 50 Cent, Meek Mill, 2Chainz, Public Enemy
          %h2 DJ Pain 1

        %li.teri-barr
          %a.hover
            .overlay
              .text Anchor, Writer, Host
          %h2 Teri Barr

.footer
  .row
    .content-centered
      %p This is an <a href="http://adorable.io/">adorable</a> creation... Seriously.
