- content_for :head do
  %title #HYPEHARVEST

.sticky
  .top-bar
    %ul.title-area
      %li.name
        %h1
          %a(href="#") #HYPEHARVEST
      %li.toggle-topbar.menu-icon
        %a(href="#")
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a(href="#where") When & Where
        %li
          %a(href="#music") Musical Guests
        %li
          %a(href="#speakers") Speakers
        %li.has-form
          %a.button.radius(href="#")
            Don't click this!
.header
  .wrap
    .row
      .content-centered
        %h1 #HYPEHARVEST
        %p
          <a href="http://madisonpl.us/ruby">Madison+ Ruby</a> has grown a reputation for being <a href="https://twitter.com/search?q=madisonruby">one of the best regional conferences around</a> and as such people just want to be involved. We've built a great event and are now harvesting some of the hype that surrounds it. In usual <a href="http://saplingevents.com/">Sapling Events</a> style it's ... well, you'll see.

    .row.short-top
      .content-centered
        %ul.small-block-grid-3
          %li
            %a(href="http://www.madisonpl.us/ruby")
              %i.icon-ruby
              %span.collapse Madison+ Ruby Conference
          %li
            %a(href="http://www.saplingevents.com/")
              %i.icon-leaf
              %span.collapse Sapling Events
          %li
            %a(href="https://twitter.com/search?q=%23HYPEHARVEST%20OR%20%23whatishypeharvest&src=typd")
              %i.icon-twitter
              %span.collapse #HYPEHARVEST on Twitter
#where
.where
  #where-map
  .row
    .content-centered
      %h1 When & Where
      %h2
        .line.one Thursday, August 21
        .line.two from
        .line.three 7-11 PM
      .row
        .content-centered
          %p Details coming soon.

#music
.musical-guests
  .row
    .content-centered
      %h1 Musical Guests
      .row
        .content-centered
          %p Musical guests are awesome. We've got em!

      %ul.small-block-grid-2
        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked
        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

#speakers
.speakers
  .row
    .content-centered
      %h1 Speakers
      .row
        .content-centered
          %p Details coming soon.

      %ul.small-block-grid-2.large-block-grid-3

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

        %li.locked
          %a.hover
            .overlay
              .text
                Locked
          %h2 Locked

.footer
  .row
    .content-centered
      %p This is an <a href="http://adorable.io/">adorable</a> creation... Seriously.
