- content_for :head do
  %title #HYPEHARVEST

.sticky
  .top-bar
    %ul.title-area
      %li.name
        %h1
          %a(href="#") #HYPEHARVEST
      %li.toggle-topbar.menu-icon
        %a(href="#")
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a(href="#where") When & Where
        %li
          %a(href="#music") Musical Guests
        %li
          %a(href="#speakers") Speakers
        %li.has-form
          %a.button.radius(href="http://www.indiegogo.com/projects/hypeharvest-nairobi-dev-school/")
            Donate
.header
  .wrap
    .row
      .content-centered
        %h1 #HYPEHARVEST
        %p
          <a href="http://madisonruby.org">Madison Ruby</a> has grown a reputation for being <a href="https://twitter.com/steveklabnik/status/361624150286155777">one of the best regional conferences around</a> and as such people just want to be involved. We've built a great event and are now harvesting some of the hype that surrounds it. In usual <a href="http://saplingevents.com/">Sapling Events</a> style it's ... well, you'll see.
    .row
      .content-centered
        %ul.small-block-grid-3
          %li
            %a(href="http://www.madisonruby.org/")
              %i.icon-ruby
              %span.collapse Madison Ruby Conference
          %li
            %a(href="http://www.saplingevents.com/")
              %i.icon-leaf
              %span.collapse Sapling Events
          %li
            %a(href="https://twitter.com/search?q=%23HYPEHARVEST%20OR%20%23whatishypeharvest&src=typd")
              %i.icon-twitter
              %span.collapse #HYPEHARVEST on Twitter
#where
.where
  .row
    .content-centered
      %h1 When & Where
      %h2
        %span Aug 22
        %small from
        %span 7-11 PM
      .row
        .content-centered
          %p We're taking advantage of an iconic Madison space and hosting this event in the MMoCA rooftop sculpture garden, which offers outdoor artworks and a bird’s-eye view of the busy State Street pedestrian mall.
      .row
        .small-12.large-6.columns
          %a(href="https://www.google.com/maps/preview#!q=Madison+Museum+of+Contemporary+Art&data=!1m4!1m3!1d16728!2d-89.3894003!3d43.0746915!4m10!1m9!4m8!1m3!1d4015!2d-89.388957!3d43.0746771!3m2!1i991!2i1058!4f13.1")=image_tag "map.jpg", :class => "map"
        .small-12.large-6.columns
          %ul.vcard
            %li.fn Madison Museum of Contemporary Art
            %li.street-address 227 State St
            %li.locality Rooftop
            %li.state
              %span.state Madison, WI
              %span.zip 53703
            %li.action
              %a.button.radius.expand(href="https://www.google.com/maps/preview#!q=Madison+Museum+of+Contemporary+Art&data=!1m4!1m3!1d16728!2d-89.3894003!3d43.0746915!4m10!1m9!4m8!1m3!1d4015!2d-89.388957!3d43.0746771!3m2!1i991!2i1058!4f13.1") Get Directions!

#music
.musical-guests
  .row
    .content-centered
      %h1 Musical Guests
      .row
        .content-centered
          %p We've dug into our bag of tricks and pulled out some top notch talent who will get the rooftop moving to close-out our evening.
          %p.line-through Dying to know who's going to be on-hand? We'll announce our first musical guest after we raise $500 for Nairobi Dev School.
          %h2 Woah. Awesome!
          %p You've unlocked all the the musical guests! All that's left to unlock are those <a href="#speakers">speakers</a> down there.

      %ul.small-block-grid-2
        %li.f-stokes
          %a.hover
            .overlay
              .text
                Fearless<br/>
                Beauty
          %h2 F.Stokes
          %ul.list
            %li
              %a.collapse(href="http://fdotstokes.com/") fdotstokes.com
            %li
              %a.collapse(href="https://twitter.com/fdotstokes") @fdotstokes
        %li.dj-radish
          %a.hover
            .overlay
              .text
                Electronic<br/>
                Beats
          %h2 Radish
          %ul.list
            %li
              %a.collapse(href="http://swagu.bandcamp.com/") swagu.bandcamp.com
            %li
              %a.collapse(href="https://twitter.com/djradish") @djradish

#speakers
.speakers
  .row
    .content-centered
      %h1 Speakers
      .row
        .content-centered
          %p The speakers involved are well known and come from near and far. They'll share life experiences, technical stories, and cultural successes & failures.
          %p.line-through  Dying to know who's going to be speaking? We'll announce a speaker after we raise $800 for Nairobi Dev School and each $300 thereafter.
          %h2 Impressive!
          %p Just when you thought you had unlocked all the the speakers, <strong>a Boss appears!</strong> He has 600 hit points. When we hit <strong>$3000</strong> our final speaker will be announced!
      %ul.small-block-grid-1.large-block-grid-1
        %li.locked.boss
          %a.hover
            .overlay
              .text
                <h3>Oh no!</h3>
                The Boss is in the way!
                <hr/>
                We need $3000 to<br/>
                defeat the Boss
          %h2 600 Hitpoints
          <a class="button" href="http://www.indiegogo.com/projects/hypeharvest-nairobi-dev-school">Attack the Boss</a><br/>
          <hr/>

      %ul.small-block-grid-2.large-block-grid-3
        
        %li.uncle-bob-martin
          %a.hover
            .overlay
              .text
                Clean<br/>
                Coder
          %h2 Uncle Bob Martin
          %ul.list
            %li
              %a.collapse(href="http://cleancoders.com") cleancoders.com
            %li
              %a.collapse(href="https://twitter.com/unclebobmartin") @unclebobmartin
        
        %li.blithe-rocher
          %a.hover
            .overlay
              .text
                PhD,<br/>
                Space nut
          %h2 Blithe Rocher
          %ul.list
            %li
              %a.collapse(href="http://www.blitherocher.com") blitherocher.com
            %li
              %a.collapse(href="https://twitter.com/blithe") @blithe
        
        %li.randall-thomas
          %a.hover
            .overlay
              .text
                The<br/>
                Drinker
          %h2 Randall Thomas
          %ul.list
            %li
              %a.collapse(href="http://www.thunderboltlabs.com") thunderboltlabs.com
            %li
              %a.collapse(href="https://twitter.com/daksis") @daksis
        
        %li.ashe-dryden
          %a.hover
            .overlay
              .text
                Diversity<br/>
                Advocate
          %h2 Ashe Dryden
          %ul.list
            %li
              %a.collapse(href="http://www.ashedryden.com") ashedryden.com
            %li
              %a.collapse(href="https://twitter.com/ashedryden") @ashedryden
                      
        %li.greg-baugues
          %a.hover
            .overlay
              .text
                Devs and<br/>
                Depression
          %h2 Greg Baugues
          %ul.list
            %li
              %a.collapse(href="http://baugues.com") baugues.com
            %li
              %a.collapse(href="https://twitter.com/greggyb") @greggyb
        
        %li.kevin-jones
          %a.hover
            .overlay
              .text
                Developer,<br/>
                Blind since birth
          %h2 Kevin Jones
          %ul.list
            %li
              %a.collapse(href="http://facebook.com/kevinrj") facebook.com/kevinrj
            %li
              %a.collapse(href="https://twitter.com/kevinrj") @kevinrj

.footer
  .row
    .content-centered
      %p This site is a bad-ass creation by <a href="http://twitter.com/itg">@itg</a> while <a href="http://twitter.com/jremsikjr">@jremsikjr</a> watched.
