- content_for :head do
  %title #HYPEHARVEST



.header
  .wrap
    .row
      .content-centered
        %h1 #HYPEHARVEST
        %p
          <a href="http://madisonruby.org">Madison Ruby</a> has grown a reputation for being <a href="https://twitter.com/steveklabnik/status/361624150286155777">one of the best regional conferences around</a> and as such people just want to be involved. We've built a great event and are now harvesting some of the hype that surrounds it. In usual <a href="http://saplingevents.com/">Sapling Events</a> style it's ... well, you'll see.
    .row
      .content-centered
        %ul.small-block-grid-3
          %li <a href="http://www.madisonruby.org/">Madison Ruby Conference</a>
          %li <a href="http://www.saplingevents.com/">Sapling Events</a>
          %li <a href="https://twitter.com/search?q=%23HYPEHARVEST%20OR%20%23whatishypeharvest&src=typd">#HYPEHARVEST on Twitter</a>
